.header {
  width: 984px;
  .header-title {
    line-height: 29px;
    margin-right: 50px;
  }
  .dropdown-toggle::after {
    display: none;
  }
}

.assignment-body {
  .assignment-left {
    width: 320px;
    .title {
      margin-bottom: 6px;
    }
  }
  
  .assignment-right {
    width: 584px;
    .title {
      line-height: 24px;
    }
    .comment-content {
      font-size: 14px;
      line-height: 1.5;
    }
    .badge {
      font-size: 14px;
      font-family: 'Roboto Mono', monospace;
    }
  }
}